{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}{{ block.super }} | {{ instance.title }}{% endblock %}
{% block head_extra %} {{ form.media }}{% endblock head_extra %}
{% block content %}
    <div class="col-6 ml-auto mr-auto">

    <h1>{{ title }}</h1>

    <form method="POST" action="" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form|crispy }}

        <input type="submit" class="btn btn-primary" value="Create">
    </form>

    <a href='{% url "posts:post_list" %}'>Home</a>

{#    <a href='{% url "posts:post_delete" id=instance.id%}'>Delete</a>#}
    </div>
{%  endblock %}