{% extends 'base.html' %}

{% block title %}{{ block.super }} | {{ instance.title }}{% endblock %}
{% block content %}
    <div class="col-6 ml-auto mr-auto">
    <h1>{{ title }} <small>{{ instance.created }}</small></h1>
        {% if instance.image %}
            <img src="{{ instance.image.url }}" class="img-fluid">
        {% endif %}
    {{ instance.content|linebreaks }}<br/><br/>

    <a href='{% url "posts:post_list" %}'>Home</a>

    <a href='{% url "posts:post_update" id=instance.id%}'>Update</a>

    <a href='{% url "posts:post_delete" id=instance.id%}'>Delete</a>
    </div>

{%  endblock %}




